openapi: 3.1.1
info:
  title: Assign API
  version: 1.0.0-rc.9
  description: Public HTTP API for Assign. The document release is independent from server, client, SDK, realtime, and MCP releases.
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
x-assign-api-major: 1
servers:
  - url: https://api.assign.so
    description: Production
tags:
  - name: Realtime
    description: Browser application WebSocket admission and authorized replay custody. Upcoming; not deployed.
  - name: Authentication
    description: Browser-session and native OAuth credential lifecycle operations.
  - name: Account
    description: The current user and their Workspace memberships.
  - name: Workspaces
    description: Workspace lifecycle, membership, and invitations.
  - name: Projects
    description: Workspace Projects and their workflow Statuses.
  - name: Tasks
    description: Project Tasks.
  - name: Integrations
    description: Provider catalog metadata and live external entities linked to Assign resources.
  - name: Comments
    description: Task discussion.
  - name: Documents
    description: Workspace rich-text Documents and their versioned content.
  - name: Attachments
    description: Direct-to-object-storage file uploads and downloads.
  - name: Search
    description: Bounded Workspace-scoped content search.
  - name: Knowledge
    description: Evidence-backed Workspace Knowledge retrieval projected through Core.
  - name: Discuss
    description: Membership-private persistent conversation with the shared Search Agent.
  - name: CLI
    description: Bearer-authenticated, code-addressed projections and commands for the Assign CLI.
  - name: Developer clients
    description: Shared first-party developer-client authorization and credential-bound Workspace operations.
  - name: Time tracking
    description: Manual Task time entries, Workspace rounding policy, and personal timesheets.
  - name: Billing
    description: Provider-neutral Workspace subscription status and invoice references.
  - name: Agents
    description: Curated Agent definitions and Workspace-owned desired Agent configuration. Execution remains in the private Knowledge service.
paths:
  /api/v1/realtime:
    get:
      tags:
        - Realtime
      operationId: openApplicationRealtime
      summary: Upgrade an authenticated browser application socket
      description: |
        Upcoming, not deployed. Requires the current browser session, exactly one
        configured browser Origin and WebSocket subprotocol assign.realtime.v1.
        No query parameters or Authorization header are accepted. Account-only
        sessions are allowed; Workspace scopes still require the current Workspace.
        This operation is a WebSocket upgrade, not a JSON GET. HTTP SDK methods do
        not implement the upgraded transport; use the application WebSocket owner.
        JSON control frames negotiate bounded subscriptions and independent applied
        ACKs. Account/security scopes omit workspace_id and carry no client-supplied
        User identity. Inbox and personal Project scopes require workspace_id.
        A visible application owner may send presence_renew with an applied
        Workspace subscription ID and cursor. It renews only that owner's
        eligible human Workspace lease; transport pongs do not renew presence.
        An applied Workspace owner may send presence_observe with that cursor and
        up to 256 distinct active human member User IDs. An empty list clears
        observation. Authorized snapshots carry an epoch, revision and complete
        selected online states; presence_unknown clears confidence on source,
        observer or authorization loss. Wake recovery requires a fresh snapshot.
        Ordinary Workspace subscriptions exclude private collection hints.
        The discuss scope uses a separate session-bound private sequence and
        content-free message identity hints; its cursor is not a Workspace
        journal position.
        Source health is separate from canonical applied state. See the public
        realtime guide for authentication, scope and recovery rules.
      security:
        - browserSession: []
      parameters:
        - name: Origin
          in: header
          required: true
          schema:
            type: string
            format: uri
        - name: Sec-WebSocket-Protocol
          in: header
          required: true
          schema:
            type: string
            enum:
              - assign.realtime.v1
      responses:
        "101":
          description: WebSocket established; versioned control frames follow.
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          description: Admission capacity is temporarily unavailable; retry with bounded backoff.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/realtime/baseline:
    get:
      tags:
        - Realtime
      operationId: getApplicationRealtimeBaseline
      summary: Capture authorized realtime routing custody or a domain page
      description: |
        Upcoming, not deployed. Omitted scope captures ordinary Workspace routing
        custody. The account, account_security, inbox and personal_projects scopes
        accept only the scope query parameter and return content-free routing
        custody. The discuss scope returns private conversation sequence custody
        without message content or an atomic transcript snapshot. They do not
        establish an atomic domain snapshot. Account scopes
        work without a Workspace. All private cursors bind the current User and
        browser session; Workspace-private cursors also bind current membership.
        projects and task_comments return a canonical page and its same-snapshot
        cursor. task_comments requires a canonical UUID resource_id and admits at
        most two items. Canonical private reads use X-Assign-Realtime-Baseline
        instead. Unknown or duplicate query parameters are rejected.
      security:
        - browserSession: []
      parameters:
        - name: scope
          in: query
          schema:
            type: string
            enum:
              - projects
              - task_comments
              - account
              - account_security
              - inbox
              - personal_projects
              - discuss
        - name: resource_id
          in: query
          description: Task UUID, required only for task_comments.
          schema:
            type: string
            format: uuid
        - name: continuation
          in: query
          description: Opaque signed domain-page cursor; only projects or task_comments.
          schema:
            type: string
            maxLength: 4096
        - name: limit
          in: query
          description: Domain-page item bound; projects allows 1–100 and task_comments allows 1–2.
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Authorized routing custody or canonical domain page; never reusable after session/authority loss.
          headers:
            Cache-Control:
              schema:
                type: string
                const: no-store
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeBaseline"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          description: Canonical baseline temporarily unavailable; do not publish partial state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /oauth/register:
    post:
      tags:
        - Identity
      operationId: registerMCPNativeClient
      summary: Register a public native MCP OAuth client
      description: |
        Registers a client with HTTP loopback callback URIs. Registration grants no
        access. Authorization Code with S256 PKCE and explicit Workspace consent
        remain required. HTTPS web callbacks use reviewed registration instead.
        Client names are unverified. Optional extension metadata is ignored.
        This endpoint is advertised by OAuth authorization-server discovery.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - redirect_uris
                - token_endpoint_auth_method
              properties:
                client_name:
                  type: string
                  maxLength: 88
                redirect_uris:
                  type: array
                  minItems: 1
                  maxItems: 20
                  uniqueItems: true
                  items:
                    type: string
                    format: uri
                    maxLength: 2048
                token_endpoint_auth_method:
                  type: string
                  enum:
                    - none
                application_type:
                  type: string
                  enum:
                    - native
                grant_types:
                  type: array
                  maxItems: 2
                  uniqueItems: true
                  items:
                    type: string
                    enum:
                      - authorization_code
                      - refresh_token
                response_types:
                  type: array
                  maxItems: 1
                  items:
                    type: string
                    enum:
                      - code
                scope:
                  type: string
                  description: Space-separated supported MCP scopes
                  including additive assign:resource:read or assign:resource:write groups. Legacy broad scopes remain supported; grants and refresh never expand the approved scope set.: null
      responses:
        "201":
          description: Public client registered; no secret or token issued.
          content:
            application/json:
              schema:
                type: object
                required:
                  - client_id
                  - client_name
                  - redirect_uris
                  - token_endpoint_auth_method
                  - application_type
                  - grant_types
                  - response_types
                  - scope
                properties:
                  client_id:
                    type: string
                  client_name:
                    type: string
                  redirect_uris:
                    type: array
                    items:
                      type: string
                      format: uri
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                  application_type:
                    type: string
                    enum:
                      - native
                  grant_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - authorization_code
                        - refresh_token
                  response_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - code
                  scope:
                    type: string
        "400":
          description: Invalid client metadata.
          content:
            application/json:
              schema: &a1
                type: object
                required:
                  - error
                  - error_description
                properties:
                  error:
                    type: string
                  error_description:
                    type: string
        "429":
          description: Registration rate limit exceeded; respect Retry-After.
        "500":
          description: Registration could not be persisted.
          content:
            application/json:
              schema: *a1
        "503":
          description: Registration capacity or deadline reached; respect Retry-After.
          headers:
            Retry-After:
              description: Seconds to wait before another registration attempt.
              schema:
                type: integer
                minimum: 1
                example: 60
          content:
            application/json:
              schema: *a1
  /api/v1/workspaces/{workspace_id}/evidence-collections:
    post:
      tags:
        - Discuss
      operationId: createEvidenceCollection
      summary: Capture exact private evidence passages
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt. Evidence collections are private, partial investigations. Hydration is required before reuse; references do not authorize shared publication. Changed, unavailable and excluded sources return no text. No inference occurs."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvidenceCollectionCreateRequest"
      responses:
        "200":
          description: Capture exact private evidence passages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceCollection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/evidence-collections/exclusions:
    post:
      tags:
        - Discuss
      operationId: excludeEvidenceCollection
      summary: Replace the exclusion set in one investigation version
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt. Evidence collections are private, partial investigations. Hydration is required before reuse; references do not authorize shared publication. Changed, unavailable and excluded sources return no text. No inference occurs."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvidenceCollectionExcludeRequest"
      responses:
        "200":
          description: Replace the exclusion set in one investigation version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceCollection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/evidence-collections/{id}:
    get:
      tags:
        - Discuss
      operationId: getEvidenceCollection
      summary: Read an exact private evidence collection
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly. Evidence collections are private, partial investigations. Hydration is required before reuse; references do not authorize shared publication. Changed, unavailable and excluded sources return no text. No inference occurs."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Read an exact private evidence collection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceCollection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/evidence-collections/{id}/hydrate:
    get:
      tags:
        - Discuss
      operationId: hydrateEvidenceCollection
      summary: Read up to twenty currently authorized exact passages
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly. Evidence collections are private, partial investigations. Hydration is required before reuse; references do not authorize shared publication. Changed, unavailable and excluded sources return no text. No inference occurs."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 31
            default: 0
        - name: limit
          in: query
          required: false
          description: Use a smaller page to consume exact passages within a bounded context.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 20
      responses:
        "200":
          description: Read up to twenty currently authorized exact passages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvidenceHydration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-result-sets:
    post:
      tags:
        - Tasks
      operationId: createTaskResultSet
      summary: Capture or explicitly refresh a checked Task result set
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskResultSetCreateRequest"
      responses:
        "200":
          description: Capture or explicitly refresh a checked Task result set
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResultSet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-result-sets/{id}:
    get:
      tags:
        - Tasks
      operationId: getTaskResultSet
      summary: Read an exact Task result-set version
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Read an exact Task result-set version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskResultSet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-selections:
    post:
      tags:
        - Tasks
      operationId: createTaskSelection
      summary: Select exact result-set Task identities
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskSelectionCreateRequest"
      responses:
        "200":
          description: Select exact result-set Task identities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSelection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-selections/{id}:
    get:
      tags:
        - Tasks
      operationId: getTaskSelection
      summary: Read a frozen Task selection
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
      responses:
        "200":
          description: Read a frozen Task selection
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSelection"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-result-sets/{id}/hydrate:
    get:
      tags:
        - Tasks
      operationId: hydrateTaskResultSet
      summary: Hydrate up to 100 exact result-set targets with current compact Task previews
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 999
            default: 0
      responses:
        "200":
          description: Hydrate up to 100 exact result-set targets with current compact Task previews
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSelectionHydration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-selections/{id}/hydrate:
    get:
      tags:
        - Tasks
      operationId: hydrateTaskSelection
      summary: Reauthorize up to100 selected Task identities
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 999
            default: 0
      responses:
        "200":
          description: Reauthorize up to100 selected Task identities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSelectionHydration"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-saved-views:
    post:
      tags:
        - Tasks
      operationId: saveTaskSavedView
      summary: Create or revision-check a personal Task query
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskViewSaveRequest"
      responses:
        "200":
          description: Create or revision-check a personal Task query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskSavedView"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    get:
      tags:
        - Tasks
      operationId: listTaskSavedViews
      summary: List personal Task queries
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: List personal Task queries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskViewList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/task-saved-views/delete:
    post:
      tags:
        - Tasks
      operationId: deleteTaskSavedView
      summary: Delete an exact personal Task-query revision
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TaskViewDeleteRequest"
      responses:
        "200":
          description: Delete an exact personal Task-query revision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CapabilityDeleted"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/document-patches:
    post:
      tags:
        - Tasks
      operationId: createDocumentPatch
      summary: Create or edit a versioned Document draft
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentPatchCreateRequest"
      responses:
        "200":
          description: Create or edit a versioned Document draft
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentPatchDraft"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/document-patches/{id}:
    get:
      tags:
        - Tasks
      operationId: getDocumentPatch
      summary: Read an exact Document draft version
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Read an exact Document draft version
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DocumentPatchDraft"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/change-sets:
    post:
      tags:
        - Tasks
      operationId: createChangeSet
      summary: Propose bounded versioned changes
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeSetCreateRequest"
      responses:
        "200":
          description: Propose bounded versioned changes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeSet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/change-sets/{id}:
    get:
      tags:
        - Tasks
      operationId: getChangeSet
      summary: Read an exact proposal and accessible outcomes
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: version
          in: query
          required: true
          schema:
            type: integer
            minimum: 1
      responses:
        "200":
          description: Read an exact proposal and accessible outcomes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeSet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/change-sets/apply:
    post:
      tags:
        - Tasks
      operationId: applyChangeSet
      summary: Apply an exact reviewed proposal
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeSetApplyRequest"
      responses:
        "200":
          description: Apply an exact reviewed proposal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeSetResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/change-sets/{id}/review:
    post:
      tags:
        - Tasks
      operationId: reviewChangeSet
      summary: Approve or reject an exact proposal as its initiating human
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Only the initiating human can review this exact digest; approval cannot be supplied through MCP."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeSetReviewRequest"
      responses:
        "200":
          description: Approve or reject an exact proposal as its initiating human
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeSet"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/operation-receipts/{id}:
    get:
      tags:
        - Tasks
      operationId: getOperationReceipt
      summary: Resolve a committed operation under current authority
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
      responses:
        "200":
          description: Resolve a committed operation under current authority
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/operation-receipts/undo:
    post:
      tags:
        - Tasks
      operationId: undoOperationReceipt
      summary: Conditionally compensate an initiating member operation
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Requires a browser session and CSRF. Reuse Idempotency-Key only for the same request. Before retrying an uncertain write, resolve its operation receipt."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityReference"
      responses:
        "200":
          description: Conditionally compensate an initiating member operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationReceipt"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/members/resolve:
    get:
      tags:
        - Tasks
      operationId: resolveWorkspaceMember
      summary: Resolve an exact member identity with ambiguity preserved
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: query
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 200
      responses:
        "200":
          description: Resolve an exact member identity with ambiguity preserved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberResolution"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/tasks/{id}/context:
    get:
      tags:
        - Tasks
      operationId: getTaskContext
      summary: Read bounded canonical Task context
      description: "Membership-private native work capability. Current Workspace and resource permissions are checked on every request. Responses use Cache-Control: no-store. Exact versions never refresh or replace selected targets implicitly."
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
      responses:
        "200":
          description: Read bounded canonical Task context
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskContextPackage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/activity:
    get:
      tags:
        - Workspaces
      operationId: listWorkspaceActivity
      summary: List access-filtered Workspace activity
      description: |
        Returns a newest-first, cursor-bounded page of meaningful work changes.
        Activity is projected from immutable domain events at read time using
        the caller's current access. Only registered activity types appear:
        progress, ownership, deadline, priority, milestone, description,
        blocking-dependency, comment, document, Project and Milestone changes.
        Personal preferences (following or muting), ordinary reactions,
        ordinary title corrections, configuration, security, session,
        identity, membership, integration, and Agent execution events never
        appear here; an ordinary edit remains available in that item's own
        history. `action` is a stable localization key, not a rendered
        sentence, and `summary` never includes comment, Document, or other
        free-form content. Events from one command or one editing session
        collapse into a single item: `count` says how many events it
        represents and `affected` lists up to 25 of the resources a bulk
        change touched. Private Project resources are filtered before
        pagination and grouping, so items, cursors, `has_more`, and
        `affected` cannot disclose inaccessible work. `limit` bounds the
        events examined, so a page may hold fewer items than `limit`; only
        `has_more` says whether history continues. `provenance` distinguishes
        mediated actions while preserving the stable Actor; a group carries
        the least direct classification among its members.
        Optional paired `day` and `time_zone` select one civil day's inclusive
        local midnight to exclusive next midnight, including DST changes.
        The indexed time range applies before pagination and counting; cursors
        are bound to that interval. Existing 90-day retention still applies.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageLimit"
        - name: day
          in: query
          description: Civil date; requires time_zone. Invalid or unpaired inputs return 400 invalid_request.
          schema:
            type: string
            format: date
        - name: time_zone
          in: query
          description: IANA timezone for day; requires day. Local is not accepted.
          schema:
            type: string
            example: Europe/Budapest
      responses:
        "200":
          description: Activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/tasks/{task_id}/activity:
    get:
      tags:
        - Tasks
      operationId: listTaskActivity
      summary: List access-filtered Task activity
      description: |
        Returns the Task's own history plus associated comment and Task
        relation events, newest first. It shares the Workspace Activity
        retention, redaction, current-access filtering, grouping, and safe
        projection rules, and it additionally includes ordinary property
        changes (such as a title correction) that the Workspace feed omits.
        Personal following and muting changes and ordinary reactions are not
        included. Private-Project access is re-evaluated for every request.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/TaskId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/projects/{project_id}/activity:
    get:
      tags:
        - Projects
      operationId: listProjectActivity
      summary: List access-filtered Project activity
      description: |
        Returns newest-first, cursor-bounded meaningful work changes inside one
        Project: its own changes plus its Tasks, comments, Documents and
        Milestones. It shares the Workspace Activity retention, redaction,
        grouping, and safe projection rules, and Project read access is
        re-evaluated for every request, so a private Project the caller cannot
        read returns `404` and no item, cursor, or `has_more` value can disclose
        inaccessible work. `limit` bounds the events examined, so a page may
        hold fewer items than `limit`; only `has_more` says whether history
        continues. Activity is immutable historical evidence and never
        determines which Tasks are in progress.
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/people/{username}:
    get:
      tags:
        - People
      operationId: getWorkspacePersonProfile
      summary: Get a workspace-scoped person profile
      description: |
        Returns the active Workspace membership identity visible to the
        caller. The canonical target is the User's current username. A
        historical username resolves to the same User; a UUIDv7 is accepted
        only as a temporary migration reference. This is a collaboration
        profile, not account settings: it
        carries the title, bio and status the person set in Account Profile
        settings, and never exposes email, phone, or other private account
        data. The returned `actor_id`
        can be used with the normal Workspace Task list's
        `assignee_actor_id` filter.
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PersonUsername"
      responses:
        "200":
          description: Workspace-visible person profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspacePersonProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/people/{user_id}/profile-picture/content:
    get:
      tags:
        - People
      operationId: getWorkspacePersonProfilePicture
      summary: Read a workspace member's uploaded profile picture
      description: Redirects an authorized Workspace member to a short-lived object-storage URL. The target must still be an active member of the same Workspace.
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: user_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
      responses:
        "200":
          description: Image bytes after a client follows the redirect.
        "302":
          description: Short-lived object-storage redirect.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/workspaces/{workspace_id}/people/{username}/activity:
    get:
      tags:
        - People
      operationId: listWorkspacePersonActivity
      summary: List a person's visible workspace activity
      description: |
        Returns the requested active member's human-readable activity,
        newest first. It uses the same redaction and current-access rules as
        Workspace Activity and never returns raw audit events.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PersonUsername"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Person activity page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/inbox:
    get:
      tags:
        - Account
      operationId: listInboxItems
      summary: List the current user's Inbox for a Workspace
      description: Generated Discuss message notices are excluded from items and unread totals; read them in Discuss.
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PageLimit"
        - name: cursor
          in: query
          schema:
            $ref: "#/components/schemas/Cursor"
        - name: unread_only
          in: query
          schema:
            type: boolean
            default: false
        - name: category
          in: query
          schema:
            $ref: "#/components/schemas/NotificationCategory"
          description: Optional typed category filter. Pagination cursors are bound to this filter.
        - name: X-Assign-Realtime-Baseline
          in: header
          required: false
          description: Upcoming browser-session canonical read custody. The named private scope captures this response and a signed replay cursor in one snapshot. Successful responses include X-Assign-Realtime-Cursor and X-Assign-Realtime-Position. Apply all required retained state before acknowledging the corresponding socket checkpoint. Failed or incomplete baselines return no cursor.
          schema:
            type: string
            enum:
              - inbox
      responses:
        "200":
          description: Inbox items and the current unread count
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxList"
          headers:
            X-Assign-Realtime-Cursor:
              description: Signed scope/User/session-bound replay custody; only when the requested canonical baseline succeeds.
              schema:
                type: string
                maxLength: 4096
            X-Assign-Realtime-Position:
              description: Decimal-string snapshot position; only with a successful baseline cursor.
              schema:
                type: string
                pattern: ^(0|[1-9][0-9]*)$
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/inbox-items/{inbox_item_id}:
    patch:
      tags:
        - Account
      operationId: updateInboxItemReadState
      summary: Mark one Inbox item read or unread
      description: |
        Generated Discuss message notices are not Inbox items and return the existing not-found response.
        Browser callers must send the session-bound `X-CSRF-Token`; native
        callers authenticate with a native access token and must not send a
        browser cookie or CSRF value. Both credential types operate only on
        the caller's own Inbox item.
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - name: inbox_item_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/BrowserCSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InboxReadStateRequest"
      responses:
        "200":
          description: Updated Inbox item
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InboxItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/settings:
    get:
      tags:
        - Workspaces
      operationId: getWorkspaceSettings
      summary: Read shared Workspace defaults
      security:
        - browserSession: []
        - nativeAccessToken: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Workspace settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - Workspaces
      operationId: updateWorkspaceSettings
      summary: Update shared Workspace defaults
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceSettingsPatch"
      responses:
        "200":
          description: Updated Workspace settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkspaceSettings"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/knowledge-settings:
    get:
      tags:
        - Workspaces
      operationId: getWorkspaceKnowledgeSettings
      summary: Read Workspace Knowledge indexing settings and lifecycle state
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Knowledge settings.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeSettings"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    patch:
      tags:
        - Workspaces
      operationId: updateWorkspaceKnowledgeSettings
      summary: Update desired Workspace Knowledge indexing settings
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeSettingsPatch"
      responses:
        "200":
          description: Updated desired state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeSettings"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/knowledge-repository:
    get:
      tags:
        - Documents
      operationId: getKnowledgeRepository
      summary: Read the Workspace Git-backed Documents repository
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Current repository status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepository"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
    put:
      tags:
        - Documents
      operationId: connectKnowledgeRepository
      summary: Validate and connect one existing documentation repository
      description: Requires explicit acknowledgement that every repository reader can read all mirrored Documents. The configured branch must already exist. No repository, branch, or pull request is created.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeRepositoryConnect"
      responses:
        "200":
          description: Validated connection.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepository"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/BadRequest"
    patch:
      tags:
        - Documents
      operationId: updateKnowledgeRepositoryState
      summary: Pause, resume, or disconnect Git-backed Documents
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeRepositoryStateUpdate"
      responses:
        "200":
          description: Updated connection state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepository"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/knowledge-repository/import:
    post:
      tags:
        - Documents
      operationId: importKnowledgeRepository
      summary: Import bounded Markdown content from the connected repository
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
      responses:
        "202":
          description: Completed import receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepositorySyncRun"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/knowledge-repository/sync:
    post:
      tags:
        - Documents
      operationId: syncKnowledgeRepository
      summary: Synchronize pending Assign and Git changes now
      description: Bypasses the debounce only. Current permission, expected-head, conflict, size, and rate gates still apply.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
      responses:
        "202":
          description: Synchronization receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepositorySyncRun"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/knowledge-repository/runs:
    get:
      tags:
        - Documents
      operationId: listKnowledgeRepositorySyncRuns
      summary: List bounded repository synchronization history
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Synchronization history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepositorySyncRunList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/workspaces/{workspace_id}/knowledge-repository/conflicts:
    get:
      tags:
        - Documents
      operationId: listKnowledgeRepositoryConflicts
      summary: List open revision-bound synchronization conflicts
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PageLimit"
      responses:
        "200":
          description: Open conflicts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepositoryConflictList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /api/v1/workspaces/{workspace_id}/knowledge-repository/conflicts/{conflict_id}/resolve:
    post:
      tags:
        - Documents
      operationId: resolveKnowledgeRepositoryConflict
      summary: Apply a revision-bound explicit conflict decision
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: conflict_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeRepositoryConflictResolution"
      responses:
        "202":
          description: Conflict-resolution synchronization receipt.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeRepositorySyncRun"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/definitions:
    get:
      tags:
        - Agents
      operationId: listWorkspaceAgentDefinitions
      summary: List curated Agent definitions available to a Workspace
      description: Returns customer-safe product metadata only. Confidential instructions, model/runtime configuration, internal skills, and raw tool policy are never returned.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
      responses:
        "200":
          description: Curated Agent definitions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentDefinitionList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions:
    get:
      tags:
        - Agents
      operationId: listWorkspaceCustomAgents
      summary: List custom Agent definitions editable by Workspace managers
      description: Returns updated-at ordered pages under current Studio authority. A continuation cursor binds the prior page's commit-ordered Workspace journal position. A catalog change returns 409 catalog_changed; restart from the first page.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/PageLimit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Cursor-paginated custom Agent definitions.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentDefinitionList"
          headers:
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    post:
      tags:
        - Agents
      operationId: createWorkspaceCustomAgent
      summary: Save a bounded, versioned custom Agent definition
      description: Requires the distinct custom-Agent entitlement and Workspace management authority. Saving never executes the Agent.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomAgentDefinitionInput"
      responses:
        "201":
          description: Custom Agent definition saved.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: The Workspace does not have an active custom-Agent entitlement.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions/{definition_id}:
    get:
      tags:
        - Agents
      operationId: getWorkspaceCustomAgent
      summary: Read the current editable custom Agent definition
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Current custom Agent definition.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    patch:
      tags:
        - Agents
      operationId: updateWorkspaceCustomAgent
      summary: Save a new immutable revision of a custom Agent definition
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomAgentDefinitionInput"
      responses:
        "200":
          description: Updated custom Agent definition.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentDefinition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions/{definition_id}/requests:
    get:
      tags:
        - Agents
      operationId: listWorkspaceCustomAgentRequests
      summary: List permission-filtered custom Agent request outcomes
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/PageLimit"
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Cursor-paginated visible request outcomes.
          headers:
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentParticipationRequestList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Custom-Agent execution is not entitled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
    post:
      tags:
        - Agents
      operationId: admitWorkspaceCustomAgentRequest
      summary: Durably admit a manual or preview-only test request
      description: Test is the only preview-only source kind. Each request pins the current definition revision and charges actual settled compute.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentParticipationRequestInput"
      responses:
        "202":
          description: Request durably queued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentParticipationRequest"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Custom-Agent execution is not entitled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions/{definition_id}/profile:
    get:
      tags:
        - Agents
      operationId: getWorkspaceCustomAgentProfile
      summary: Read a member-visible custom Agent profile
      description: Returns stable identity and current permission-filtered run facts without definition instructions, binding identifiers, private input, or provider traces.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Safe custom Agent profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentProfile"
          headers:
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Custom-Agent execution is not entitled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions/{definition_id}/delegations/{task_id}:
    post:
      tags:
        - Agents
      operationId: delegateTaskToWorkspaceCustomAgent
      summary: Add a revision-fenced Agent responsibility overlay to a Task
      description: Preserves the primary human assignment and Task lifecycle. The request body must use source_kind delegation and the same task_id.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: task_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentParticipationRequestInput"
      responses:
        "202":
          description: Delegation and request recorded atomically.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentParticipationRequest"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Custom-Agent execution is not entitled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/studio/definitions/{definition_id}/usage:
    get:
      tags:
        - Agents
      operationId: getWorkspaceCustomAgentUsage
      summary: Read settled and pending credit usage for one custom Agent and period
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: definition_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - name: from
          in: query
          schema:
            $ref: "#/components/schemas/Timestamp"
          description: Inclusive period start; defaults to one month before the request.
        - name: to
          in: query
          schema:
            $ref: "#/components/schemas/Timestamp"
          description: Exclusive period end; defaults to request time.
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Reconciled usage aggregate.
          headers:
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomAgentUsage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "402":
          description: Custom-Agent execution is not entitled.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/workspaces/{workspace_id}/agents:
    get:
      tags:
        - Agents
      operationId: listWorkspaceAgents
      summary: List Workspace-owned Agent instances
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Workspace Agent instances.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstanceList"
          headers:
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    post:
      tags:
        - Agents
      operationId: createWorkspaceAgent
      summary: Hire one curated Agent into a Workspace
      description: Creates Core-owned desired state. It does not synchronously invoke the Knowledge runtime or imply that a run succeeded.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentInstanceCreateRequest"
      responses:
        "201":
          description: Agent hired.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
  /api/v1/workspaces/{workspace_id}/agents/{agent_id}:
    get:
      tags:
        - Agents
      operationId: getWorkspaceAgent
      summary: Read one Workspace Agent instance
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/WorkspaceRealtimeBaseline"
      responses:
        "200":
          description: Workspace Agent instance.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
            X-Assign-Realtime-Cursor:
              $ref: "#/components/headers/RealtimeReadCursor"
            X-Assign-Realtime-Position:
              $ref: "#/components/headers/RealtimeReadPosition"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    patch:
      tags:
        - Agents
      operationId: updateWorkspaceAgent
      summary: Update one Workspace Agent's bounded configuration
      description: Updates scope, supported trigger selection, additional instructions, or active/paused state. Definition, model, provider, prompt, skill, MCP, and raw capability controls are not accepted.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentConfiguration"
      responses:
        "200":
          description: Updated Agent configuration.
          headers:
            ETag:
              $ref: "#/components/headers/ETag"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/MaintenanceUnavailable"
    delete:
      tags:
        - Agents
      operationId: removeWorkspaceAgent
      summary: Soft-remove one Agent and stop all unfinished work
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      responses:
        "200":
          description: Removed Agent tombstone.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/{agent_id}/quarantine:
    post:
      tags:
        - Agents
      operationId: quarantineWorkspaceAgent
      summary: Quarantine an Agent, cancel unfinished runs, and invalidate pending approvals
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentQuarantineRequest"
      responses:
        "200":
          description: Quarantined Agent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/{agent_id}/rollback:
    post:
      tags:
        - Agents
      operationId: rollbackWorkspaceAgent
      summary: Restore the prior qualified definition version in paused state
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
        - $ref: "#/components/parameters/CSRFToken"
        - $ref: "#/components/parameters/IfMatch"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentRunCancelRequest"
      responses:
        "200":
          description: Rolled-back paused Agent.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentInstance"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
  /api/v1/workspaces/{workspace_id}/agents/{agent_id}/runs:
    get:
      tags:
        - Agents
      operationId: listWorkspaceAgentRuns
      summary: List retained safe run history for one Agent
      description: Returns only Core-owned safe projections. Prompts, retrieved context, raw model output, chain of thought, provider details, and private runtime traces are never returned.
      security:
        - browserSession: []
      parameters:
        - $ref: "#/components/parameters/WorkspaceId"
        - name: agent_id
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/Identifier"
[...]
